<link rel="stylesheet/css" href="/public/stylesheets/main.css">

<div class="container">
    <div id="submit">
<h1> Tack !   </h1>
<p> Vi hör av oss via email för mer information så fort din profil har skapats</p>
</div>
</div>